<h2>Novo Produto</h2>
<form method="post">
    <label>Nome:</label>
    <input type="text" name="Nome" required>
    <br>
    <label>Preço:</label>
    <input type="number" name="Preco" step="0.01" required>
    <br>
    <label>Estoque:</label>
    <input type="number" name="Estoque" required>
    <br>
    <button type="submit">Salvar</button>
</form>
