html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

/* Geral */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f6f9;
    margin: 0;
    padding: 0;
    color: #333;
}

h2 {
    color: #333;
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 20px;
}

/* Tabelas */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

    table th, table td {
        padding: 15px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }

    table thead {
        background-color: #007bff;
        color: white;
    }

    table tr:hover {
        background-color: #f1f1f1;
    }

/* Links */
a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
    margin-top: 20px;
    display: inline-block;
}

    a:hover {
        color: #0056b3;
        text-decoration: underline;
    }

/* Formulários */
form {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin: 20px auto;
}

    form label {
        font-size: 1rem;
        color: #333;
        display: block;
        margin: 10px 0 5px;
    }

    form input {
        width: 100%;
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 5px;
        font-size: 1rem;
        margin-bottom: 15px;
        background-color: #f9f9f9;
        transition: border-color 0.3s;
    }

        form input:focus {
            border-color: #007bff;
            background-color: #fff;
        }

    form button {
        background-color: #007bff;
        color: white;
        border: none;
        padding: 10px 15px;
        font-size: 1rem;
        border-radius: 5px;
        cursor: pointer;
        width: 100%;
        transition: background-color 0.3s;
    }

        form button:hover {
            background-color: #0056b3;
        }

/* Responsividade */
@media (max-width: 768px) {
    table, form {
        width: 100%;
    }

    form {
        padding: 15px;
    }
}
